In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('.//raw_data//Job_hunting_stats.xlsx', skiprows=4, usecols="A:P")
df.head()

,Link,Name position,Name company,Exp required,Appliance date,Appliance day,Appliance way,Appliance way comments,Response date,Response day,Call/Interview,Second interview,Technical interview,Technical assignment,Job Offer,Salary
0,NaN,Data Analyst,Mollie,1-3 years,2020-11-25,Wednesday,Job application,Linkedin,2020-12-07,Monday,NaT,NaT,NaT,NaT,NaT,NaN
1,NaN,Junior Data Engineer,Oscar recruiting,0 years,2020-12-01,Tuesday,DM to recrutier,Linkedin network,2020-12-02,Wednesday,NaT,NaT,NaT,NaT,NaT,NaN
2,NaN,Junior Data Engineer,Oscar recruiting,0 years,2020-12-02,Wednesday,Linkedin appliance,Linkedin network,NaT,NaN,NaT,NaT,NaT,NaT,NaT,NaN
3,NaN,Data Analyst,Adyen,3-5 years,2020-12-02,Wednesday,Job application,Linkedin,2020-12-04,Friday,NaT,NaT,NaT,NaT,NaT,NaN
4,NaN,Business Analyst,FinaXe / MidOcean,NaN,2020-12-01,Tuesday,Was contacted,Linkedin,2020-12-03,Thursday,2020-12-15,2020-12-22,NaT,NaT,2020-12-23,49896.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Link                    86 non-null     object
 1   Name position           96 non-null     object
 2   Name company            96 non-null     object
 3   Exp required            92 non-null     object
 4   Appliance date          96 non-null     datetime64[ns]
 5   Appliance day           96 non-null     object
 6   Appliance way           96 non-null     object
 7   Appliance way comments  96 non-null     object
 8   Response date           58 non-null     datetime64[ns]
 9   Response day            58 non-null     object
 10  Call/Interview          10 non-null     datetime64[ns]
 11  Second interview        6 non-null      datetime64[ns]
 12  Technical interview     1 non-null      datetime64[ns]
 13  Technical assignment    3 non-null      datetime64[ns]
 14  Job Offer               2 non-null      datetime64[ns]
 15  Salary                  2 non-null      float64
dtypes: datetime64[ns](7), float64(1), object(8)
memory usage: 12.1+ KB

In [4]:
df.to_csv('.//clean_data//job_hunt_stat.csv')

In [6]:
df = pd.read_csv('.//clean_data//job_hunt_stat.csv')